/* Reset */
body, html {
    margin: 0;
    padding: 0;
}
/* Box-sizing */
* {
    box-sizing: border-box;
}
/* Fonts */
body {
    font-family: sans-serif;
}
/* Links */
a {
    text-decoration: none;
}
/* Images */
img {
    max-width: 100%;
    height: auto;
}
/* List */
li {
    list-style: none;
}