@import './base.css';

/* --- Body --- */

body {
    background-color: #242526;
    color: #E3E4E5;
}

.h1,
.h2 {
    margin: 0;
}

h2.title{
    font-size: 1.5rem;
    font-weight: 500;
}

/* --- Header --- */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;
}

.header .image {
    height: 100px;
    width: 100px;
}

/* --- Section Scanner --- */
.scanner button{
    background-color: green;
    color: #fff;
    padding: 5px;
}
.container{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    padding: 12px;
}
.container .stats{
    background-color: rgb(61, 61, 250);
    padding: 15px;
    border-radius: 5px;
    color: #fff;
}
.container .value


/* --- Section Accounts --- */

.accounts{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
}
.accounts .accounts_table{
    border: 1px solid #000;
    width: 100%;

}
.accounts .accounts_table th{
    background-color: #000;
    color: #fff;

}