@import './base.css';

.accounts{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
}
.accounts .accounts_table{
    border: 1px solid #000;
    width: 100%;

}
.accounts .accounts_table th{
    background-color: #000;
    color: #fff;

}